body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #F7F7F7, #FFFFFF);
    color: #333;
    overflow-x: hidden;
}


header {
    background: linear-gradient(to right, #F0F9FF, #E0F2FE);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    position: relative; /* Required for the animated background */
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%); /* Animated background */
    z-index: -1; /* Place the background behind the header */
    animation: animatedBackground 10s linear infinite; /* Apply animation */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-bottom: 7px;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #2A6EBB; /* Change text color on hover */
}

nav ul li a::before {
    width: 100%;
}

section {
    padding: 40px 30px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#about,
#skills,
#projects,
#contact {
    margin: 40px 0;
}

.hero {
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero-image-container {
    flex: 0 0 auto;
    margin-right: 40px;
  }

.hero-image {
    max-width: 400px;
    height: auto;
    border-radius: 20%;
  }
  
  .hero-text {
    flex: 1;
    text-align: left;
  }

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2A6EBB;
    color:  #FFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1E5C9A;
}

.hero-image {
    max-width: 300px; /* Adjust the max-width as needed */
    height: auto;
    border-radius: 50%; /* This will make the image circular */
    margin-bottom: 20px; /* Add some space between the image and the heading */
  }

  .section {
    padding: 80px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section-header h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .section-divider {
    width: 100px;
    height: 3px;
    background-color: #333;
    border: none;
    margin: 0 auto;
  }
  

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-text {
    flex: 1;
    max-width: 600px;
    margin-right: 40px;
  }

  .about-text p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .about-image {
    flex: 0 0 300px;
    text-align: center;
  }

  .profile-picture {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  


.project {
    background-color: #F0F9FF;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
  }

  .project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
  }

  .project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background: linear-gradient(to right, #2A6EBB, #1E5C9A);
    color:  #FFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }

  .project-link:hover {
    background: linear-gradient(to right, #1E5C9A, #2A6EBB);
  }

  
  .skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skill {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(45deg, #2A6EBB, #1E5C9A);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
  }
  
  .skill:hover {
    transform: translateY(-5px);
  }
  
  .skill i {
    font-size: 36px;
    color: #FFF;
    margin-bottom: 10px;
  }
  
  .skill h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFF;
  }
  
  .skill p {
    font-size: 16px;
    color: #FFF;
  }

  footer {
    background: linear-gradient(to right, #F0F9FF, #E0F2FE);
    color:  #333;
    text-align: center;
    padding: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  form label {
    margin: 10px 0 5px 0;
  }
  
  form input,
  form textarea {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #FFF;
    color: #333;
  }

  form button {
    padding: 10px 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #2A6EBB, #1E5C9A);
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  form button:hover {
    background: linear-gradient(to right, #1E5C9A, #2A6EBB)1);
  }

  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
    color:  #333;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-links a:hover {
    color: #2A6EBB;
  }
